.foot {
    height: 200px;
    /* width: 100%; */
    text-align: center;
    margin: 0px calc((50% - 500px)) 20px;
    color: rgb(208, 208, 208);
       }


    .foot > .socials {
        padding: 10px 0 10px;
        border-bottom: 1px solid #fff;
        width: 100%;
                    }

            .foot > .socials a {
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                padding: 10px;
                text-decoration: none;
            }
        

.foot > .socials > a:hover{
    background-color: #fff;
    color: rgb(0, 0, 0) ;
    border-radius: 50%;
    width: 40px;
}

  .foot > .contacts {
    display: inline-block;
    width: 80%;
    background-color: transparent;
    }
    
    .foot > .contacts > .truck-info {
        display: inline-block;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        width: 33%;
        padding: 10px 0;
    }
    
    .foot > .contacts > .truck-info  h5{
        text-transform: uppercase;
    }

.foot > .copyright {
    display: inline-block;
    border-top: 1px solid #fff;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

    @media (max-width: 1000px) {
        .foot {
            width: 700px;
            margin: 0 calc( (100% - 700px) / 2 );
        }
    }

    @media (max-width: 700px) {
        .foot {
            width: 100%;
            margin: 0px 0px;
            padding: 20px 20px;
        }
                        
        .foot > .contacts > .truck-info {
            display: inline-block;
            text-align: center;
            font-size: 18px;
            line-height: 36px;
            width: 100%;
            margin: 5px 0;
            border-bottom: 1px solid #fff;
        }
    }
    