header {
    color: #666;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    /*kadangi kitaip elementai lipa ant headerio */
    transition: 0.2s;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    grid-row: 1;
    align-self: start;
    align-content: center;
    color: #fff;
    width: 50px;
    /* kad butu nustatytos logo ribos */
}

nav {
    display: grid;
    grid-template-columns: 4fr auto auto auto auto auto auto;
    align-content: center;
    height: 80px;
    justify-content: end;
    padding: 0 2rem;
    grid-column-gap: 1.5rem;
}

.link-item {
    align-self: end;
    grid-auto-flow: column;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    grid-row: 1;
    text-transform: uppercase;
    font-weight: 900;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-trucks {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdown-trucks a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-trucks a:hover {
    background-color: #ddd;
}

.dropdown:hover #dropdown-trucks {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5d615d;
}