.map {
    position: relative;

}

.map_row {
    display: inline-block;
    text-align: center;
    width: 800px;
    margin: 100px calc((100% - 800px) / 2) 20px;

}

h3 {
    display: inline-block;
    font-family: monospace;
    line-height: 50px;
    font-size: 50px;
    color: gold;
    text-shadow:1px 1px 10px black;
}
.gmap {
    width: 800px;
    height: 490px;
    margin-left: calc((100% - 800px) /2);
    position: relative;
    background-image: url('../img/Googlemap.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#pingas1, #pingas2, #pingas3{
    position: absolute;
}